@import '../../../assets/colors';

.news-card-container {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 3px 3px 0px rgb(0 0 0 / 4%);
    padding: 1.5em  1.5em 1em;
}

.dotted {
    border-bottom: 1px dotted $dotted-color;
}

.dotted:nth-child(odd) {
    border-right: 1px dotted $dotted-color;
}

.dotted:last-child {
    border-bottom: none;
}