@import '../../../assets/colors';

* {
    color: $white;
}

.header {
    margin-top: -9em;
}

.title {
    font-size: 35px;
    font-weight: 900;
}

.subtitle {
    font-size: 25px;
    margin: -1rem 0 2rem 0;
    font-weight: 700;
}