<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="news-title">NUEVA RASPADITA | CIUDADES DEL MUNDO</div>
            <div class="date">09/08/2021</div>
        </div>
        <div class="col-8 text">
            Para los cosmopolitas, llegó la nueva Raspadita “Ciudades del Mundo”. Vale $ 30 y tiene 8 destinos
            diferentes para elegir y ganar hasta $ 2.000.000!!!
        </div>
        <div class="col-4">
            una img
        </div>
    </div>
</div>